var/*
doc/*
.bash_completion
.fetchmailrc.dist
.mailfilter.dist
.procmailrc.dist
ARCHIVE
AUTHORS.md
CHANGES.md
CONTRIBUTING.md
COPYING
COPYING-Third-Party
Custom/
INSTALL.md
README.md
RELEASE
UPDATING.md
bin/
i18n/
scripts/
